body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #ffffff;
  color: #272727;
}

header {
  background: #1f1c1c;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 90px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover, .ativo {
  color: #00bcd4;
}

main {
  padding: 40px;
}

section {
  margin-bottom: 70px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex: 1;
  min-width: 50px;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

button {
  background: #00bcd4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #1c8b9c;
}

footer {
  text-align: center;
  background: #242222;
  color: #fff;
  padding: 15px;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

input, textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
